@model ProduitVM
<partial name="_Notification" />
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 ">
    <div class="row">
        <div class="col-12 text-center">
                <h2 class="text-success-emphasis py-1">Ajouter nouveau produit.</h2>
        </div>
    </div>
    </div>
    <div class="card-body d-inline-flex gap-5">
        <form method="post" class="row">

            <div class="" >
                <label asp-for="Produit.Titre" class="py-2"></label>
                <input asp-for="Produit.Titre" class="form-control" />
                <span asp-validation-for="Produit.Titre" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="Produit.Description" class="py-2"></label>
                <input asp-for="Produit.Description" class="form-control" />
                <span asp-validation-for="Produit.Description" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="Produit.ISBN" class="py-2"></label>
                <input asp-for="Produit.ISBN" class="form-control" />
                <span asp-validation-for="Produit.ISBN" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="Produit.Auteur" class="py-2"></label>
                <input asp-for="Produit.Auteur" class="form-control" />
                <span asp-validation-for="Produit.Auteur" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="Produit.ListePrix" class="py-2"></label>
                <input asp-for="Produit.ListePrix" class="form-control" />
                <span asp-validation-for="Produit.ListePrix" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="Produit.Prix" class="py-2"></label>
                <input asp-for="Produit.Prix" class="form-control" />
                <span asp-validation-for="Produit.Prix" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="Produit.Prix50" class="py-2"></label>
                <input asp-for="Produit.Prix50" class="form-control" />
                <span asp-validation-for="Produit.Prix50" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="Produit.Prix100" class="py-2"></label>
                <input asp-for="Produit.Prix100" class="form-control" />
                <span asp-validation-for="Produit.Prix100" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="Produit.CategoryId" class="py-2"></label>
                <select asp-for="@Model.Produit.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 ">
                    <option disabled selected>--Selectionner une catégorie--</option>
                </select>
                <span asp-validation-for="Produit.CategoryId" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="Produit.ImageUrl" class="py-2"></label>
                <input asp-for="Produit.ImageUrl" class="form-control" />
                <span asp-validation-for="Produit.ImageUrl" class="text-danger"></span>
            </div>

            <div class="d-inline-flex justify-content-around mt-5">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control py-2">Create</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Produit" asp-action="Index" class="btn btn-secondary form-control btn-outline-white py-2">Retour à la liste</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}