@model Entreprise
<partial name="_Notification"/>
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 ">
    <div class="row">
        <div class="col-12 text-center">
                <h2 class="text-success-emphasis py-1">@(Model.Id!=0?"Mis à jour de ":"Création de ")l'entreprise.</h2>
        </div>
    </div>
    </div>
    <div class="card-body d-inline-flex gap-5">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Id" hidden />
            <div class="" >
                <label asp-for="Nom" class="py-2"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="Adresse" class="py-2"></label>
                <input asp-for="Adresse" class="form-control" />
                <span asp-validation-for="Adresse" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="Ville" class="py-2"></label>
                <input asp-for="Ville" class="form-control" />
                <span asp-validation-for="Ville" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="Code" class="py-2"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="PhoneNumber" class="py-2"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="d-inline-flex justify-content-around mt-5">
                <div class="col-6 col-md-3">
                    @if (@Model.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary form-control py-2">Mettre à jour</button>
                    }
                    else
                    {
                       <button type="submit" class="btn btn-primary form-control py-2">Création</button> 
                    }
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Entreprise" asp-action="Index" class="btn btn-secondary form-control btn-outline-white py-2">Retour à la liste</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <script>
        
        tinymce.init({
            selector: 'textarea#tiny'
        });
            </script>
    @{
            <partial name="_ValidationScriptsPartial" />
    }
}